body{ margin: 0;  }
ul { padding: 0; }
body{ padding: 100px; }

a {
	text-decoration: none;
	color: #000;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

/*font系*/
.font1 {
  font-family: 'Courgette', cursive;
}

.font2 {
  font-family: 'Courgette', cursive;
  font-family: 'Kosugi Maru', sans-serif;
}

/*border系*/
.br30 { border-radius: 30px; }

/*消す系*/
.listStyle {
	list-style: none;
}

/*天地中央系*/
.center { text-align: center !important; }
.textR { text-align: right !important; }
.left { float: left !important; }

/*font-size系*/
.f25{ font-size: 25px !important; }
.f15{ font-size: 15px !important; }
.f10 { font-size: 10px !important; }

/*margin系*/
.top100{ margin-top: 100px !important; } 
.top50 { margin-top: 50px !important; }
.top35 { margin-top: 35px !important; }

.btm100{ margin-bottom: 100px !important;  }

.left30 { margin-left: 30px !important; }

.right100 { margin-right: 100px !important; }

/*padding系*/
.pd100 { padding: 100px !important; }

/*with,height系*/
.w20{ width: 20% !important; }
.w30{ width: 30% !important; }
.h90 { height: 90px !important; }
.h65 { height: 65px !important; }
.h40 { height: 40px !important; }
.h30 { height: 30px !important; }
.h10 { height: 10px !important; }
.h20 { height: 20px !important; }
.h100 { height: 100% !important; }

/*line-height系*/
.lH5 { line-height: 5 !important; }

/*display系*/
.dspB { display: inline-block !important; }
 


 /*その他*/
.logos { 
  width: 300px;
}

.btn{
	padding: 10px 70px;
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
}

.btn:hover {
	background: gray;
	color: #fff;
}


.linkHover{
	position: relative;
  	display: inline-block;
  	text-decoration: none;
}

.linkHover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}


.linkHover:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.timeline {
  width: 47%;
  height: auto;
  border: 2px groove;
}


.underbar {
  width: 100%;
  border-bottom: 3px ridge #000;
}
