body{ margin: 0;  }
ul { padding: 0; }
p { margin: 0;}

a {
	text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  text-align: center;
  background-color: #ddd;
  margin-bottom: 20px;
}

.header-logo {
  width: 150px;
}

